.part1{
background: black;
color:red;
font-family: cursive;
display: block;
width: 50%;
}
.part2{
  background: darkred;
  color:green;
  font-family: cursive;
  display: block;
  width: 50%;
}

.part3 {
  color: green;
  width: 50%;
}
.part4 > p{
  color: green;
  width: 50%;
}
.csym019{
  background: Aqua;
  width: 50%;
  display: block;
}
.csym015{
  background: yellow;
  width: 50%;
  display: block;
}
div{
  background-color: darkblue;
  color:white;
  padding:20px
  width: 50%;
  display: block;
  border: :20px solid red;

}
